/.DS_Store
/.metadata/
/forge-1.6.4-9.11.1.964-changelog.txt
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/.classpath
/.project
/.settings/
/.gradle/
/bin/
/build/
/eclipse/
